<div class="container">
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-3">
            <mat-card class="example-card">
                <mat-card-header>
                  <div mat-card-avatar class="example-header-image"></div>
                  <mat-card-title>SCOTT MORRISON</mat-card-title>
                  <mat-card-subtitle>Australia Prime Minister</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/0a/Scott_Morrison_2014.jpg/220px-Scott_Morrison_2014.jpg" alt="Australian Prime Minister">
                <mat-card-content>
                  <p>
                    Scott John Morrison (born 13 May 1968) is an Australian politician who is the 30th and current prime minister of Australia. He took office in August 2018 upon his election as leader of the 
                    Liberal Party, and subsequently led the Coalition to victory at the 2019 federal election.
                  </p>
                </mat-card-content>
                <mat-card-actions>
                  <button mat-button>LIKE</button>
                  <button mat-button>SHARE</button>
                </mat-card-actions>
              </mat-card>
        </div>
        <div class="col-sm-3">
            <mat-card class="example-card">
                <mat-card-header>
                  <div mat-card-avatar class="example-header-image"></div>
                  <mat-card-title>VLADIMIR PUTIN</mat-card-title>
                  <mat-card-subtitle>Russian President</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/69/%D0%9F%D1%83%D1%82%D0%B8%D0%BD_%D0%92.%D0%92._16-06-2020_%28cropped%29.jpg/220px-%D0%9F%D1%83%D1%82%D0%B8%D0%BD_%D0%92.%D0%92._16-06-2020_%28cropped%29.jpg">
                <mat-card-content>
                  <p>
                    The president of the Russian Federation (Russian: Президе́нт Росси́йской Федера́ции, tr. Prezident Rossiyskoy Federatsii), is the head of state of the Russian Federation, 
                    as well as the commander-in-chief of the Russian Armed Forces. It is the highest office in Russia.
                  </p>
                </mat-card-content>
                <mat-card-actions>
                  <button mat-button>LIKE</button>
                  <button mat-button>SHARE</button>
                </mat-card-actions>
              </mat-card>
        </div>
    </div>
</div>